Cloud/Azure/Data Factory/Json-to-SQL (multiple files)/multiple files - pipeline/pipeline1.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"AzureDataLakeStorage1":{"type":"string"},"AzureSqlDatabase1":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/pipeline1')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"ForEach1","type":"ForEach","dependsOn":[{"activity":"Get Metadata1","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Get Metadata1').output.childitems","type":"Expression"},"activities":[{"name":"Copy data1","type":"Copy","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"JsonReadSettings"}},"sink":{"type":"AzureSqlSink","tableOption":"autoCreate","disableMetricsCollection":false},"enableStaging":false},"inputs":[{"referenceName":"Json1","type":"DatasetReference","parameters":{"FileName":{"value":"@item().name","type":"Expression"}}}],"outputs":[{"referenceName":"AzureSqlTable1","type":"DatasetReference","parameters":{"TableName":{"value":"@concat(replace(item().name, '.json', ' '))","type":"Expression"}}}]}]}},{"name":"Get Metadata1","type":"GetMetadata","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"Json2","type":"DatasetReference","parameters":{}},"fieldList":["childItems"],"storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"JsonReadSettings"}}}],"policy":{"elapsedTimeMetric":{},"cancelAfter":{}},"annotations":[],"lastPublishTime":"2021-10-21T13:20:58Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/Json2')]","[concat(variables('factoryId'), '/datasets/Json1')]","[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]"]},{"name":"[concat(parameters('factoryName'), '/Json2')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":"json","fileSystem":"clean"}},"schema":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Json1')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"parameters":{"FileName":{"type":"string"}},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@dataset().FileName","type":"Expression"},"folderPath":"json","fileSystem":"clean"}},"schema":{"type":"object","properties":{"Abbreviation":{"type":"string"},"City":{"type":"string"},"Conference":{"type":"string"},"Division":{"type":"string"},"Full_Name":{"type":"string"},"Id":{"type":"integer"},"Name":{"type":"string"}}}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/AzureSqlTable1')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase1')]","type":"LinkedServiceReference"},"parameters":{"TableName":{"type":"string"}},"annotations":[],"type":"AzureSqlTable","schema":[],"typeProperties":{"table":{"value":"@dataset().TableName","type":"Expression"}}},"dependsOn":[]}]}